html {
    font-size: 16px;
}
.container {
    display: flex;
    flex-direction: row;
    max-width: 100vw;
    padding: 0px;

    .scrollmenu {
        display: flex;
        flex-direction: column;
        width: 28%;
        height: 100vh;
        background-color: #f2f3f5;
        overflow: auto;
        white-space: normal;
        padding: 10px;

        .chapter {
            position: relative;
            display: inline-block;
            // display: flex;
            // flex-direction: column;
            .chapter-name {
                color: #36394d;
                font-size: 1.5rem;
                padding: 17px;
                cursor: pointer;
                font-family: sans-serif;
                font-size: 1.125rem;
                font-weight: 600;
                line-height: 1.5rem;

                &:hover {
                    border-bottom: 1px solid #36394d;
                }
            }

            .chapter-none-click {
                display: none;
                position: absolute;
                background-color: #f1f1f1;
                min-width: 160px;
                box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
                transition: all 0.3s ease;
            }

            .chapter-click {
                // display: contents;
                // position: absolute;
                background-color: #f2f3f5;
                min-width: 160px;
                border-top: 1px solid #36394d;

                div {
                    color: #36394d;
                    padding: 12px 16px;
                    text-decoration: none;
                    display: block;
                    text-align: left;
                    padding: 8px 5px 8px 28px;
                    font-family: sans-serif;
                    text-decoration: none;
                    font-size: 1rem;
                    font-weight: 400;
                    line-height: 1.5rem;
                    cursor: pointer;

                    &:hover {
                        background-color: rgba(54, 57, 77, 0.15);
                    }

                    &.active {
                        background-color: rgba(54, 57, 77, 0.15);
                        color: #36394d;
                        font-weight: 600;
                    }

                    &.none-active {
                        background: none;
                        color: black;
                    }
                }
            }
        }
    }

    .main-content {
        width: 72%;
        height: 100vh;
        border-left: 2px solid gray;
        padding: 24px 40px;

        .video-title {
            margin-bottom: 31px;
            color: #36394d;
            text-decoration: none;
            font-family: sans-serif;
            font-size: 1.25rem;
            font-weight: 600;
            line-height: 1.5rem;
        }

        // .video {
        // }
    }
}
